// User
.user-show {
  margin-top: 30px;
  position: relative;

  .user-card {
    .user-profile-pic {
      float: left;
    }

    .user-details {
      float: left;
      margin-left: 20px;

      h3 {
        margin-top: 0;
      }
    }
  }
}
