@import 'components/buttons';
@import 'components/cards';
@import 'components/forms';
@import 'components/navigation';
@import 'components/search';
@import 'components/upload';

body {
  font-family: 'Roboto Condensed';
  background-color: #e5e5e5;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.site-container {
  padding: 50px 0 0;
  width: auto;
}

.categories-side-bar {
  width: 170px;
  background-color: #F8F8F8;
  padding: 16px;
  float: left;
  margin-right: 30px;
}

.categories-container {
  .each-category {
    h1 {
      margin-left: 60px;
    }
  }
}

//
// Books
//
.book-show,
.book-form,
.user-books {
  margin-top: 15px;
}

.user-books {
  .col-sm-4:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.book-tags {
  margin: 20px 0px;

  .label {
    padding: 3px 5px 4px;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.book-container {
  background-color: white;
  overflow: hidden;
  height: 160px;
  box-shadow: $shadow1;

  .edit-book {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .delete-book {
    position: absolute;
    top: 25px;
    right: 5px;
  }

  .book-image {
    height: 100%;
    float: left;
    width: 120px;
  }

  .book-details {
    padding: 15px;
    height: 160px;
    position: relative;
    margin-left: 120px;

    h2 {
      color: $text-accent;
      font-size: 18px;
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 5px 0 10px;
      white-space: nowrap;
    }
  }

  .book-tags {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    margin-bottom: 15px;
  }
}

.book-search-result {
  display: flex;

  &:not(.first-child) {
    margin-top: 15px;
  }

  .book-image {
    flex: 1;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .book-details {
    flex: 2;
    padding: 15px;
  }
}
