$red: #DE0202;

p, h1, h2, h3, h4, h5 {
  font-family: arial;
}

.site-container {
  margin-top: 50px;
  width: auto;
}

.books-horizontal-scroll-container {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.each-book-list-wrapper {
  list-style: none;
}

.each-book-container {
  float: left;
  margin-left: 20px;
}

.book-image-container {
  box-shadow: 1px 1px 1px #E2E2E2;

  img {
    width: 120px;
    height: 160px;
  }
}

.tags-container {
  span {
    margin-right: 7px;
  }
}

.book-details-container {
  padding: 0px 12px;
  width: 188px;
  height: 160px;
  position: relative;
  overflow: hidden;

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    color: $red;
    font-size: 18px;
    font-weight: border;
  }

  .book_isbn ,
  .book_author {
    font-size: 12px;
    word-wrap: break-word;
  }
}

.book-details-container,
.book-image-container {
  float: left;
}

.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  margin: auto;
}
.drop-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
.dragover {
  border: 5px dashed blue;
}

.upload_file_btn_container {
  position: relative;
  top: 20px;
}

.file_input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

body {
  background-color: #e5e5e5;
}

.book-container {
  background-color: #fff;
  width: 310px;
  height: 160px;
  border: solid 1px #DEDEDE;
  overflow: hidden;
  box-shadow: 1px 1px 1px #D0D0D0;

  .tags-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
  }
}

.categories-side-bar {
  width: 170px;
  background-color: #F8F8F8;
  padding: 16px;
  float: left;
  margin-right: 30px;
}

.navbar-default {
  background: #fff;
}

.cover-container {
  height: 400px;
  background-image: url(/images/books_cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;

  .search-bar-container {
    display: table-cell;
    vertical-align: middle;

    h1 {
      text-align: center;
      font-family: arial;
      color: #fff;
      text-shadow: 0px 2px 2px #000;
    }

    .form-control {
      width: 500px;
      margin: auto;
    }
  }
}

.form-container {
  .tags-container {
    margin: 20px 0px;
  }
}

.categories-container {
  .each-category {
    h1 {
      margin-left: 60px;
    }
  }
}
