$red: #de0202;
$shadow1: 1px 1px 5px 0 rgba(0, 0, 0, .35);

%vertical-content {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}
