%link{ href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css' }
%link{ href: '//fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }
%link{ href: '//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css', rel: 'stylesheet', type: 'text/css' }
%link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }

= yield :stylesheets

= stylesheet_link_tag :application, media: :all
